.chessboard {
    width: 640px;
    height: 640px;
    margin: 20px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    margin-left: 400px;
  }
  
  .white, .black {
    width: 80px;
    height: 80px;
    font-size: 50px;
    text-align: center;
    line-height: 80px;
  }
  
  .white {
    background-color: #fff;
  }
  
  .black {
    background-color: #000;
  }