div{
    background-color: rgb(19, 129, 219);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
a{
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
}