img{
    height: 25px;
    width: 22px;
    margin-top: 6px;
    transform: translate(-4px);
    
}
form{
    background-color: rgb(213, 209, 214);
    width: 203px;
    padding-left: 8px;
    padding-top: 2px;
 
   
}
input{
    padding-top: 5px;
    padding-bottom: 5px;
    transform:translateY(-8px);
    border:none;
}
input:focus{
    outline: none;
}
body{
    margin-top: 300px;
    margin-left: 700px;
}